* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem !important;
  }

  input {
    font-size: 14px !important;
  }
}